{% extends 'core/base.html' %}
{% load static%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'deploy/css/deploy.css' %}" />
{% endblock stylesheet%}

{% block title %}Implementaciones{% endblock %}

{% block content %}
{% include 'deploy/includes/deploy_menu.html' %}
<div class="container bg-white pt-4">
    <div class="row mb-2">
        <div class="col-12">
            <h2>Historial Implementaciones</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-responsive-sm table-responsive-lg" id="table-requests">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Fecha implementación</th>
                        <th class="text-center">Fecha solicitud</th>
                        <th class="text-center">Proyecto</th>
                        <th class="text-center">Detalles</th>
                        <th class="text-center">Solicitante</th>
                        <th class="text-center">Implementador</th>
                        <th class="text-center">LSN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deploy in deploys %}
                    <tr>
                        <td class="text-center align-middle">{{deploy.deploy_date|date:'d/m/y H:i'}}</td>
                        <td class="text-center align-middle">{{deploy.request_header.created|date:'d/m/y H:i'}}</td>
                        <td class="text-center align-middle">{{deploy.request_header.project.project_name}}</td>
                        <td class="text-center align_middle">
                            <a data-toggle="modal" data-target="#modalDetalles" href=""
                                data-id="{{deploy.request_header.id}}"
                                data-url="{% url 'request:detail' deploy.request_header.id %}"
                                onClick="fillDetailsModal(this)" class="text-center align-middle">
                                <i class="material-icons text-center align-middle">
                                    list_alt
                                </i>
                            </a>
                        </td>
                        <td class="text-center align-middle">{{deploy.request_header.created_by}}</td>
                        <td class="text-center align-middle">{{deploy.deploy_by}}</td>
                        <td class="text-center align-middle">{{deploy.lsn}}</td>
                        {% empty %}
                        <td colspan="6">No hay implementaciones disponibles</td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            {% include 'core/includes/pagination.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
            <!-- MODAL DETALLES SOLICITUD -->
            <div class="modal fade" id="modalDetalles" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">

                        <!-- cabecera del diálogo -->
                        <div class="modal-header">
                            <h4 class="modal-title">Detalles</h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>

                        <!-- cuerpo del diálogo -->
                        <div class="modal-body">

                            <div class="col-12 mt-2">
                                <div class="container-fluid">
                                    <table class="table table-hover table-responsive-sm" id="table-details">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Paquete/s</th>
                                                <th class="text-center">Tarea/s</th>
                                                <th class="text-center">Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'request/js/request.js' %}"></script>
<script src="{% static 'deploy/js/deploy.js' %}"></script>
{% endblock javascript%}