.table-packages {
  table-layout: fixed;
  word-wrap: break-word;
}

.update-date {
  margin: 0;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}

.lista{
  height: 500px;
  overflow-y: scroll;
}

.list-group-item {
  word-wrap: break-word;
}