{% extends 'core/base.html' %}
{% load static%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'project/css/project.css' %}" />

{% endblock stylesheet%}

{% block title %}Proyectos{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row mt-4 mb-2">
    <div class="col-12">
      <h2>Información de Proyectos
        <a href="{% url 'project:update_projects_info' %}"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Actualizar info">
          update
        </i></a>
      </h2>
        
    </div>
  </div>

  <div class="row">
    {% if projects %}
    <div class="col-4 mt-2 bg-light text-dark">
      <h3 class="mt-2">Proyectos</h3>
      <div class="list-group mb-4" id="projects-list-group">
        {% for project in projects %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary" data-url="{% url 'project:packages' project.id %}">
          <div class="row">
            <div class="col-8 mt-3">
              {{project.project_name}}
            </div>
            <div class="col-2 ml-5">
              <div class="row">
                <div class="col-6">
                  <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Documentación">
                    link
                  </i>
                </div>
                <div class="col-6">
                  <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Actualizar info">
                    update
                  </i>
                </div>
                <div class="col-12">
                  <p class="text-right align-middle update-date" data-toggle="tooltip" data-placement="top"
                    title="Ultima Actualización">
                    {{project.modified|date:'d/m/y'}}
                  </p>
                </div>
              </div>

            </div>

          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-4 mt-2 border-left bg-light text-dark">
      <h3 class="mt-2">Paquetes</h3>
      <div class="list-group mb-4" id="packages-list-group">
      </div>
    </div>
    <div class="col-4 mt-2 border-left bg-light text-dark">
      <h3 class="mt-2">Tareas</h3>
      <div class="list-group mb-4" id="tasks-list-group">
      </div>
    </div>
    {% else %}


    {% endif %}
  </div>



</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'project/js/project.js' %}"></script>
{% endblock javascript%}