{% extends 'core/base.html' %}
{% load static%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'project/css/project.css' %}" />

{% endblock stylesheet%}

{% block title %}Buscador SQL{% endblock %}

{% block content %}
{% include 'project/includes/project_menu.html' %}
<div class="container bg-white pt-4">
    <div class="row mb-2">
        <div class="col-lg-8">
            <h2>Buscador SQL</h2>
        </div>
        <div class="col-lg-4">
            <div class="form-row align-items-center">
                <div class="col-sm-9 my-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons" id="search-icon">
                                    search
                                </span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="search-input" placeholder="Código a buscar">
                    </div>
                </div>
                <div class="col-sm-3 my-1">
                    <button class="btn btn-primary" id="search-btn">Buscar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <!-- MODAL DETALLES SOLICITUD -->
            <div class="modal fade" id="modalDetalles" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="col-12 mt-2 p-0">
                                <div class="container-fluid px-1">
                                    <div class="textarea-wrapper">
                                        <textarea id="sqlScriptTxt" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive-sm table-responsive-lg" id="table-deploys">
                <thead class="thead-light">
                    <tr class="d-flex">
                        <th class="text-center col-2">Proyecto</th>
                        <th class="text-center col-3">Paquete</th>
                        <th class="text-center col-2">Tarea</th>
                        <th class="text-center col-1">Nº Linea</th>
                        <th class="text-center col-3">Contenido</th>
                        <th class="text-center col-1">SQL</th>
                    </tr>
                </thead>
                <tbody id="replaceable-content"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'project/js/project.js' %}"></script>
{% endblock javascript%}