{% load static %}

{% if request.user.is_staff %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand" href="#"><i>Administrar</i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {%if request.path == "/pndientes/"%} active {%endif%}" href="{% url 'deploy:pending' %}"><i>Pendientes</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {%if request.path == "/implementaciones/"%} active {%endif%}" href="{% url 'deploy:list' %}"><i>Historial</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}