{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {%if request.path == "/solicitudes/mis_solicitudes/"%} active {%endif%}" href="{% url 'request:user_request_list' %}"><i>Mis Solicitudes</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {%if request.path == "/solicitudes/"%} active {%endif%}" href="{% url 'request:list' %}"><i>Historial</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>