@font-face {
  font-family: Boomer;
  src: url(../fonts/Boomer_Regular_Cnd.otf) format("opentype");
}

body {
  background-image: url(../img/y-so-serious-white.png);
}

html {
  scroll-behavior: smooth;
}

table {
  table-layout: fixed;
}

table td {
  word-wrap: break-word;
}