.deploy-link {
    color: #28a745;
}

.deploy-link:before {
    content: "check_circle_outline";
}

.deploy-link:hover::before {
    content: "check_circle";
}

p{
    margin: 0;
}

/* #table-deploys th{
    padding: .55rem;
} */