#table-add.table tr th, table.table tr td {
    border-color: #e9e9e9;
}

#table-add.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

/* #table-add.table th:first-child {
      width: 50%;
    } */

#table-add.table th:last-child {
    width: 70px;
}

#table-add.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

#table-add.table td a.delete {
    color: #E34724;
}

#table-add.table td i {
    font-size: 19px;
}

#table-add.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

/* #table-requests.table th:last-child {
      width: 70px;
    } */