{% extends 'core/base.html' %}
{% load static%}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-2 mt-2">
    Implementaciones Recientes
  </h1>
  <table class="table table-hover shadow mb-2 bg-white rounded">
    <thead>
      <tr>
        <th>Fecha Implementación</th>
        <th>Proyecto</th>
        <th class="text-center align-middle">Solicitante</th>
        <th class="text-center align-middle">Implementador</th>
        <th class="text-center align-middle">LSN</th>
      </tr>
    </thead>
    <tbody>
      {% for deploy in deploys %}
      <tr>
        <th>{{deploy.deploy_date|date:'d/m/y H:i'}}</th>
        <th>{{deploy.request_header.project.project_name}}</th>
        <th class="text-center align-middle">{{deploy.request_header.created_by}}</th>
        <th class="text-center align-middle">{{deploy.deploy_by}}</th>
        <th class="text-center align-middle">{{deploy.lsn}}</th>
      </tr>
      {% empty %}
      <td colspan="6" scope="col">No hay proyectos disponibles</td>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
