<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <style type="text/css">
    #table-add.table {
      table-layout: fixed;
    }

    #table-add.table td {
      word-wrap: break-word;
    }

    #table-add.table tr th,
    table.table tr td {
      border-color: #e9e9e9;
    }

    #table-add.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
    }

    /* #table-add.table th:first-child {
      width: 50%;
    } */

    #table-add.table th:last-child {
      width: 70px;
    }

    #table-add.table td a {
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      min-width: 24px;
    }

    #table-add.table td a.delete {
      color: #E34724;
    }

    #table-add.table td i {
      font-size: 19px;
    }

    #table-add.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
    }

    span.project {
      display: none;
    }

    span.project.error {
      color: #f50000;
      display: inline;
    }

    /* #table-requests.table th:last-child {
      width: 70px;
    } */
  </style>
  <script type="text/javascript">
    $(document).ready(function () {

      // Disable Package and Tasks Selecpicker
      $("#packageSelectpicker").prop('disabled', true);
      $('#packageSelectpicker').selectpicker('refresh');
      $("#tasksSelectpicker").prop('disabled', true);
      $('#tasksSelectpicker').selectpicker('refresh');

      // Add selectpicker bootstrap style and props
      $('select').selectpicker({
        noneSelectedText: '-----',
        noneResultsText: 'No se encontraron resultados'
      });

      // Gets the value of the project selectpicker
      var selectedProject = $("#projectSelectpicker option:selected").text();
      $("#projectSelectpicker").change(function () {
        selectedProject = $("#projectSelectpicker option:selected").text();
        projectSelect(selectedProject);
        $("#packageSelectpicker").prop('disabled', false);
        $('#packageSelectpicker').selectpicker('refresh');
      });

      // Allows Tasks selectpicker when a package is selected
      $("#packageSelectpicker").change(function () {
        $("#tasksSelectpicker").prop('disabled', false);
        $('#tasksSelectpicker').selectpicker('refresh');
      });

      // Gets the value of the tasks selectpicker
      // selectedTasks = $("#tasksSelectpicker option:selected").text();
      // $("#tasksSelectpicker").change(function () {
      //   selectedTasks = $("#tasksSelectpicker option:selected").text();
      //   console.log(selectedTasks)
      // });

      // Verify if there is any row on #add-table
      var isTableEmpty = function () {
        var count = $("#table-add tbody tr").length;
        if (count >= 1) {
          return false;
        } else {
          return true;
        }
      };

      // Verify if any project is selected
      var empty = false;
      var isProjectSelected = function ($selectedProject) {
        if (selectedProject == "") {
          return true;
        } else {
          return false;
        }
      };

      // Enable or disable "Agregar" button if there is a project selected
      var projectSelect = function ($selectedProject) {
        if (isProjectSelected(selectedProject)) {
          $("span.project").addClass("error");
          $(".add-new").attr("disabled", "disabled");
          return;
        } else {
          $("span.project").removeClass("error");
          $(".add-new").removeAttr("disabled");
        }
      };

      // Append table with add row form on add new button click
      $(".add-new").click(function () {
        var project = projectSelect(selectedProject)
        $('.container-fluid').find(".error").focus();
        if (!isProjectSelected(project)) {
          $(".add-new").removeAttr("disabled");
          $("#projectSelectpicker").prop('disabled', true);
          $('#projectSelectpicker').selectpicker('refresh');
        } else {
          return;
        }
        var observation = $.trim($("#observaciones").val());
        var index = $("#table-add tbody tr:last-child").index();
        var selectedPackage = $("#packageSelectpicker option:selected").text();
        var selectedTasks = $("#tasksSelectpicker").find('option:selected');
        var values = [];
        selectedTasks.each(function () {
          values.push('<li>' + $(this).text());
        });
        tasks = values.join("</li>");
        var row = '<tr>' +
          '<td class="text-center align-middle">' +
          selectedPackage +
          '</td>' +
          '<td class="text-left align-middle">' +
          '<ol>' +
          tasks +
          '<ol>' +
          '</td>' +
          '<td class="text-justify align-middle">' +
          observation +
          '</td>' +
          '<td class="text-center align-middle">' +
          '<a class="delete" title="Delete"><i class="material-icons">&#xE872;</i></a>' +
          '</td>' +
          '</tr>';
        $("#table-add").append(row);
        $("#table-add tbody tr").eq(index + 4).find(".delete").toggle();

        if (!isTableEmpty()) {
          $('#table-add').show();
        }

        $('#implementationRequestForm').trigger("reset");
        $("#packageSelectpicker").selectpicker("refresh");
        $("#tasksSelectpicker").selectpicker("refresh");
        $('select[name=projectSelectpicker]').val(selectedProject);
      });

      // Delete row from add-table
      var deleteRow = function (row) {
        row.remove();
      };

      // Delete row on delete button click
      $(document).on("click", ".delete", function () {
        var row = $(this).parents("tr");
        deleteRow(row);

        if (isTableEmpty() == true) {
          $("#projectSelectpicker").prop('disabled', false);
          $('#projectSelectpicker').selectpicker('refresh');
        }
      });

    });
  </script>


  <title>Mis Solicitudes</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-3 mt-2">
        <h2>Mis Solicitudes</h2>
      </div>
      <div class="col-3 mt-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevaSolicitud">Nueva
          Solicitud</button>
      </div>
    </div>

    <table class="table table-hover" id="table-requests">
      <thead class="thead-light">
        <tr>
          <th>Fecha solicitud</th>
          <th>Proyecto</th>
          <th class="text-center">Detalles</th>
          <th class="text-center">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Elemento 1,1</td>
          <td>Elemento 1,2</td>
          <td class="text-center align middle">
            <a data-toggle="modal" data-target="#modalDetalles" href="">
              <i class="material-icons">
                list_alt
              </i>
            </a>
          </td>
          <td class="text-center"><span class="badge badge-danger">Pendiente</span></td>
        </tr>
        <tr>
          <td>Elemento 2,1</td>
          <td>Elemento 2,2</td>
          <td class="text-center align middle">
            <a data-toggle="modal" data-target="#modalDetalles" href="">
              <i class="material-icons">
                list_alt
              </i>
            </a>
          </td>
          <td class="text-center"><span class="badge badge-success">Implementado</span></td>
        </tr>
        <tr>
          <td>Elemento 3,1</td>
          <td>Elemento 3,2</td>
          <td class="text-center align middle">
            <a data-toggle="modal" data-target="#modalDetalles" href="">
              <i class="material-icons">
                list_alt
              </i>
            </a>
          </td>
          <td class="text-center"><span class="badge badge-danger">Pendiente</span></td>
        </tr>
      </tbody>
    </table>





    <!-- MODAL SOLICITUD -->
    <div class="modal fade" id="modalNuevaSolicitud" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

          <!-- cabecera del diálogo -->
          <div class="modal-header">
            <h4 class="modal-title">Nueva Solicitud Implementacion</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>

          <!-- cuerpo del diálogo -->
          <div class="modal-body">
            <form id="implementationRequestForm">
              <div class="form-row">
                <div class="col-12 mt-2">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-4">
                        <label for="projectSelectpicker">Seleccione un proyecto:</label>
                        <select class="selectpicker form-control mb-2" id="projectSelectpicker"
                          name="projectSelectpicker" title="-----" data-live-search="true">
                          <option>Atencion Personal</option>
                          <option>Atencion Telefonica</option>
                          <option>Consumos Futuros</option>
                          <option>Circuito Facturación-Débitos-Refacturación</option>
                        </select>
                        <span class="project">Debe seleccionar un proyecto</span>
                      </div>
                      <div class="col-sm-4">
                        <label for="packageSelectpicker">Seleccione un paquete:</label>
                        <select class="selectpicker form-control" data-live-search="true" id="packageSelectpicker"
                          name="packageSelectpicker" title="-----">
                          <option value="Atencion Personal">Atencion Personal</option>
                          <option value="Atencion Telefonica">Atencion Telefonica</option>
                          <option value="Consumos Futuros">Consumos Futuros</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label for="tasksSelectpicker">Seleccione la/s tarea/s:</label>
                        <select class="selectpicker form-control" multiple data-live-search="true"
                          id="tasksSelectpicker" name="tasksSelectpicker" title="-----">
                          <option>Mustard</option>
                          <option>Ketchup</option>
                          <option>Relish</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-sm-12 mb-2">
                        <label for="observaciones">Ingrese una breve descripcion de los cambios realizados</label>
                        <textarea class="form-control" rows="5" id="observaciones" name="observaciones"></textarea>
                      </div>
                      <div class="col-sm-12">
                        <button type="button" class="btn btn-info add-new form-control">Agregar</button>
                      </div>
                    </div>
                    <table class="table table-hover" id="table-add">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">Paquete</th>
                          <th class="text-center">Tareas</th>
                          <th class="text-center">Observaciones</th>
                          <th class="text-center">Borrar</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
            <!-- pie del diálogo -->
            <div class="modal-footer">
              <button class="btn btn-secondary mb-2" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary mb-2" form="form1">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- MODAL DETALLES SOLICITUD -->
    <div class="modal fade" id="modalDetalles" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

          <!-- cabecera del diálogo -->
          <div class="modal-header">
            <h4 class="modal-title">Detalles</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>

          <!-- cuerpo del diálogo -->
          <div class="modal-body">

            <div class="col-12 mt-2">
              <div class="container-fluid">
                <table class="table table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">Paquete</th>
                      <th class="text-center">Tareas</th>
                      <th class="text-center">Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <td class="text-center align-middle">Atencion Personal</td>
                    <td class="text-left align-middle">
                      <ol>
                        <li>Actualizar Aux</li>
                        <li>Inserta en H</li>
                      </ol>
                    </td>
                    <td>Se realizaron cambios en codigo</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>

</html>