{% extends 'core/base.html' %}
{% load static%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'request/css/request.css' %}" />
{% endblock stylesheet%}

{% block title %}Solicitudes{% endblock %}

{% block content %}
{% include 'request/includes/request_menu.html' %}
<div class="container bg-white pt-4">
    <div class="row mb-2 align-middle">
        {% if request.path == "/solicitudes/mis_solicitudes/" %}
        <div class="col-12">
            <h2 class="d-inline">Mis Solicitudes</h2>
            <a href="" class="d-inline" data-toggle="modal" data-target="#modalNuevaSolicitud">
                <span class="material-icons">
                    add_circle
                </span>
            </a>
        </div>

        <div class="col-12">
            <!-- MODAL SOLICITUD -->
            <div class="modal fade" id="modalNuevaSolicitud" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">

                        <!-- cabecera del diálogo -->
                        <div class="modal-header">
                            <h4 class="modal-title">Nueva Solicitud Implementacion</h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>

                        <!-- cuerpo del diálogo -->
                        <div class="modal-body">
                            <form method="POST" id="implementationRequestForm" action="nueva_solicitud/">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12 mt-2">
                                        <div class="alert alert-danger collapse" role="alert" id="projectAlert">
                                            Debe seleccionar un proyecto.
                                        </div>
                                        <div class="alert alert-danger collapse" role="alert" id="observationAlert">
                                            Debe agregar una descripción sobre los cambios realizados.
                                        </div>
                                        <div class="alert alert-danger collapse" role="alert" id="detailAlert">
                                            No se han agregado detalles a la solicitud.
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-4">
                                                    <label for="projectSelectpicker">Seleccione un proyecto:</label>
                                                    <select class="selectpicker form-control mb-2"
                                                        id="projectSelectpicker" name="projectSelectpicker"
                                                        title="-----" data-live-search="true"
                                                        data-url="{% url 'request:json_project_list' %}">
                                                    </select>
                                                    <input type="hidden" id="selectedProjectid"
                                                        name="selectedProjectid" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="packageSelectpicker">Seleccione un paquete:</label>
                                                    <select class="selectpicker form-control" data-live-search="true"
                                                        id="packageSelectpicker" name="packageSelectpicker"
                                                        title="-----">
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="tasksSelectpicker">Seleccione la/s tarea/s:</label>
                                                    <select class="selectpicker form-control" multiple
                                                        data-live-search="true" id="tasksSelectpicker"
                                                        name="tasksSelectpicker" title="-----">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-12 mb-2">
                                                    <label for="observaciones">Ingrese una breve descripcion de los
                                                        cambios
                                                        realizados</label>
                                                    <textarea class="form-control" rows="5" id="observacionesInput"
                                                        name="observaciones"></textarea>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button type="button"
                                                        class="btn btn-info add-new form-control">Agregar</button>
                                                </div>
                                                <div class="col-sm-12 mt-4">
                                                    <h5 class="modal-title text-center" id="tituloDetalle">Detalles Solicitud</h5>
                                                </div>
                                            </div>

                                            <table class="table table-hover table-responsive-sm" id="table-add">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th class="text-center">Paquete</th>
                                                        <th class="text-center">Tareas</th>
                                                        <th class="text-center">Observaciones</th>
                                                        <th class="text-center">Borrar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- pie del diálogo -->
                            <div class="modal-footer">
                                <button class="btn btn-secondary mb-2" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary mb-2" form="implementationRequestForm"
                                    id="btnEnviar">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="col-12">
            <h2>Historial Solicitudes</h2>
        </div>
        {% endif %}
    </div>


    <table class="table table-hover table-responsive-sm" id="table-requests">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Fecha solicitud</th>
                <th class="text-center">Proyecto</th>
                <th class="text-center">Detalles</th>
                <th class="text-center">Usuario Solicitante</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td class="align-middle text-center">{{request.created|date:'d/m/y H:i'}}</td>
                <td class="text-center align-middle">{{request.project.project_name}}</td>
                <td class="text-center align-middle">
                    <a data-toggle="modal" data-target="#modalDetalles" href="" data-id="{{request.id}}"
                        data-url="{% url 'request:detail' request.id %}" onClick="fillDetailsModal(this)">
                        <i class="material-icons align-middle">
                            list_alt
                        </i>
                    </a>
                </td>
                <td class="text-center align-middle">{{request.created_by}}</td>
                <td class="text-center align-middle">
                    <span class="badge {%if request.state == 'PN' %} badge-danger {% else %} badge-success {%endif%}">
                        {{request.get_state_display}}
                    </span>
                </td>
                {% empty %}
                <td colspan="5">No hay solicitudes disponibles</td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-12 mt-2">
            {% include 'core/includes/pagination.html' %}
        </div>
    </div>


    <!-- MODAL DETALLES SOLICITUD -->
    <div class="modal fade" id="modalDetalles" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!-- cabecera del diálogo -->
                <div class="modal-header">
                    <h4 class="modal-title">Detalles</h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>

                <!-- cuerpo del diálogo -->
                <div class="modal-body">

                    <div class="col-12 mt-2">
                        <div class="container-fluid">
                            <table class="table table-hover table-responsive-sm" id="table-details">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">Paquete/s</th>
                                        <th class="text-center">Tarea/s</th>
                                        <th class="text-center">Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'request/js/request.js' %}"></script>
{% endblock javascript%}